<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNjbSI6W3siaWRlbnRpdHkiOiJzd2lmdHVp
		LW1lZGlhcGlja2VyIiwibG9jYXRpb24iOiJodHRwczpcL1wvZ2l0aHViLmNv
		bVwvVVdBcHBEZXZcL1N3aWZ0VUktTWVkaWFQaWNrZXIuZ2l0IiwicHJvZHVj
		dEZpbHRlciI6bnVsbCwicmVxdWlyZW1lbnQiOnsicmFuZ2UiOlt7Imxvd2Vy
		Qm91bmQiOiIwLjAuMSIsInVwcGVyQm91bmQiOiIxLjAuMCJ9XX19XX1dLCJu
		YW1lIjoiTWVkaWFQaWNrZXJEZW1vIiwicGFja2FnZUtpbmQiOiJyb290Iiwi
		cGxhdGZvcm1zIjpbeyJvcHRpb25zIjpbXSwicGxhdGZvcm1OYW1lIjoiaW9z
		IiwidmVyc2lvbiI6IjE1LjIifV0sInByb2R1Y3RzIjpbeyJuYW1lIjoiTWVk
		aWFQaWNrZXJEZW1vIiwic2V0dGluZ3MiOlt7ImJ1bmRsZUlkZW50aWZpZXIi
		OlsiZGV2LnV3YXBwLk1lZGlhUGlja2VyLkRlbW8iXX0seyJ0ZWFtSWRlbnRp
		ZmllciI6WyIySDg2NkYyMlc3Il19LHsiZGlzcGxheVZlcnNpb24iOlsiMS4w
		LjEiXX0seyJidW5kbGVWZXJzaW9uIjpbIjEiXX0seyJpT1NBcHBJbmZvIjpb
		eyJhY2NlbnRDb2xvckFzc2V0TmFtZSI6IkFjY2VudENvbG9yIiwiY2FwYWJp
		bGl0aWVzIjpbXSwiaWNvbkFzc2V0TmFtZSI6IkFwcEljb24iLCJzdXBwb3J0
		ZWREZXZpY2VGYW1pbGllcyI6WyJwYWQiLCJwaG9uZSJdLCJzdXBwb3J0ZWRJ
		bnRlcmZhY2VPcmllbnRhdGlvbnMiOlt7InBvcnRyYWl0Ijp7fX0seyJsYW5k
		c2NhcGVSaWdodCI6e319LHsibGFuZHNjYXBlTGVmdCI6e319LHsicG9ydHJh
		aXRVcHNpZGVEb3duIjp7ImNvbmRpdGlvbiI6eyJkZXZpY2VGYW1pbGllcyI6
		WyJwYWQiXX19fV19XX1dLCJ0YXJnZXRzIjpbIkFwcE1vZHVsZSJdLCJ0eXBl
		Ijp7ImV4ZWN1dGFibGUiOm51bGx9fV0sInRhcmdldE1hcCI6eyJBcHBNb2R1
		bGUiOnsiZGVwZW5kZW5jaWVzIjpbeyJwcm9kdWN0IjpbIk1lZGlhUGlja2Vy
		Iiwic3dpZnR1aS1tZWRpYXBpY2tlciIsbnVsbF19XSwiZXhjbHVkZSI6W10s
		Im5hbWUiOiJBcHBNb2R1bGUiLCJwYXRoIjoiQXBwIiwicmVzb3VyY2VzIjpb
		XSwic2V0dGluZ3MiOltdLCJ0eXBlIjoiZXhlY3V0YWJsZSJ9fSwidGFyZ2V0
		cyI6W3siZGVwZW5kZW5jaWVzIjpbeyJwcm9kdWN0IjpbIk1lZGlhUGlja2Vy
		Iiwic3dpZnR1aS1tZWRpYXBpY2tlciIsbnVsbF19XSwiZXhjbHVkZSI6W10s
		Im5hbWUiOiJBcHBNb2R1bGUiLCJwYXRoIjoiQXBwIiwicmVzb3VyY2VzIjpb
		XSwic2V0dGluZ3MiOltdLCJ0eXBlIjoiZXhlY3V0YWJsZSJ9XSwidG9vbHNW
		ZXJzaW9uIjp7Il92ZXJzaW9uIjoiNS41LjAifX0=
		</data>
		<key>manifestHash</key>
		<data>
		TUtxSwwY7XSia8Kdh/KVbSjX/aguNuSGbe8v56xeShQ=
		</data>
		<key>schemaVersion</key>
		<integer>3</integer>
		<key>swiftPMVersionString</key>
		<string>5.5.0</string>
	</dict>
</dict>
</plist>
